h1 {
  text-align: center;
  margin: 10px auto;
  font-size: 35px;
  font-weight: 600;
}
h2 {
  text-align: center;
  margin: 15px auto;
  font-size: 18px;
  font-weight: 350;
}
form {
  margin: 0 auto;
  padding-left: 4px;
  margin-bottom: 10px;
}
body {
  background-color: rgb(255, 255, 255);
}
li {
  margin: 15px;
}
ul {
  list-style-type: none;
  padding: 0;
  font-weight: lighter;
  font-size: 28px;
  margin: 50px auto;
}
.buttonLocation {
  margin-left: 30px;
  width: 100px;
  background-color: rgb(222, 192, 249);
  transition: all 200ms ease-in-out;
}
.buttonLocation:hover {
  background-color: rgb(241, 225, 255);
}
.buttonSearch {
  background-color: rgb(193, 205, 253);
  transition: all 200ms ease-in-out;
}
.buttonSearch:hover {
  background-color: rgb(227, 232, 254);
}
.weather-app {
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.icon {
  position: relative;
  top: 20px;
  left: 10px;
  width: 150px;
}

.emojis {
  width: 110px;
  padding: 0;
}
.card {
  text-align: center;
  font-size: 25px;
  width: 180px;
  padding: 10px;
  margin: 15px;
}
.temperature-max {
  font-weight: 600;
}
.temperature {
  font-size: 18px;
  position: relative;
  top: -15px;
}
.card-title {
  margin: 0 auto;
}
.active {
  color: black;
  text-decoration: none;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: black;
}
.maincard {
  border: solid;
  border-radius: 5px;
  border-width: 0.5px;
  border-color: rgb(217, 217, 217);
  margin: 16px;
  width: 390px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }
  li {
    font-size: 23px;
    margin: 0px;
  }
  ul {
    margin: 30px auto;
    margin-left: 10px;
  }

  .card {
    width: 370px;
  }
  .maincard {
    border: none;
    margin: 0 auto;
  }
  .weather-app {
    padding: 10;
    display: block;
    margin: 0 auto;
  }
  .buttonLocation {
    display: none;
  }
  .icon {
    position: relative;
    top: 10px;
    width: 120px;
  }
  h1 {
    text-align: center;
    margin: 15px auto;
    font-size: 30px;
    font-weight: 600;
  }
  h2 {
    display: none;
  }
}
